$headerHeight: 60px;

.header{
  --bg-color: rgba(249,251,255,.6);
  --line-color: white;
  --link-color: black;
  display: flex;
  justify-content: space-between;
  line-height: $headerHeight;
  box-shadow: 0 6px 10px 4px rgba(0,0,0,.05);
  border-bottom: 1px solid var(--line-color);
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 0 var(--both-sides-padding);
  background-color: var(--bg-color);
  backdrop-filter: blur(16px);
  h1{
    background: var(--vue-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  a{
    color: var(--link-color);
  }
  @include utils.themeDark() {
    --bg-color: transparent;
    --line-color: rgba(255,255,255,.2);
    --link-color: white;
  }
}

.navigation{
  > .item:not(:last-child){
    margin-right: 20px;
  }
}
