.footer{
  --line-color: #eee;
  border-top: 1px solid var(--line-color);
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  color: var(--mark-font-color);
  font-size: 12px;
}

@include utils.themeDark() {
  .footer{
    --line-color: rgba(255,255,255,.1);
  }
}
